.sport {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding-top: 2rem;
    border-top: 1px solid var(--secondary-color-light);
}

.sport hr {
    border-top: 3px solid var(--secondary-color);
}

.sport h1 {
    color: var(--primary-color);
    font-size: 4rem;
}

.sport .people {
    margin: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.sport .people .person {
    position: relative;
    overflow: hidden;
}

.sport .people .person img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.sport .people .person .coach-name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: var(--secondary-color-light);
    color: #000;

    text-align: center;
    padding: 0.5rem;
    font-size: 2rem;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.sport .people .person .person-description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;

    text-align: center;
    padding: 1rem;

    font-size: 1.5rem;
    box-sizing: border-box;

    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.sport .people .person:hover .person-description,
.sport .people .person:active .person-description {
    transform: translateY(0);
}

.sport .people .person:hover img,
.sport .people .person:active img {
    transform: scale(1.1);
}

.sport .people .person:hover .coach-name,
.sport .people .person:active .coach-name {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
}

@media (max-width: 768px) {
    .sport {
        width: 80%;
        padding-top: 1rem;
    }

    .sport h1 {
        font-size: 2.5rem;
    }

    .sport .people {
        flex-direction: column;
        gap: 2rem;
    }

    .sport .people .person {
        width: 100%;
    }

    .sport .people .person .coach-name {
        font-size: 1.5rem;
        padding: 0.25rem;
    }

    .sport .people .person .person-description {
        font-size: 1rem;
        padding: 0.5rem;
    }
}