.footer-divider {
  border: none;
  border-top: 1px solid var(--secondary-color);
  margin: 20px auto;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 70%;
}

.footer .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer .logo img {
  width: 150px;
  height: auto;
  border-radius: 50%;
}

.footer .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.footer .menu a {
  color: var(--secondary-color);
  text-decoration: none;
  overflow: hidden;

  transition: all 0.3s ease;
}

.footer .menu a:hover {
  color: var(--primary-color);
}

.footer .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer .social i {
  color: var(--secondary-color-light);
  font-size: 1.5rem;

  transition: all 0.3s ease;
}

.footer .social i:hover {
  color: var(--primary-color);
}

.footer p {
  padding-top: 10px;
}