.coaches {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding-top: 2rem;
}

.coaches h1 {
    font-size: 5rem;
}

@media (max-width: 768px) {
    .coaches h1 {
        font-size: 2.5rem;
    }
}