.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.home-page h1 {
  font-size: 5rem;
  align-self: center;
}

h2 {
  margin: 0 auto;
  width: 80%;
  font-size: 5rem;
  margin-bottom: 2.5rem;
}

.info-section {
  padding: 50px;
  margin: 0 auto;
  width: 60%;
  text-align: left;
  font-family: var(--details-font);
  color: var(--secondary-color);
  font-size: 1.5rem;
  border-radius: 10px;
  text-align: justify;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.info-section p {
  font-size: 1.125rem;
  line-height: 1.5;
  align-content: stretch;
  opacity: 0; 
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 1.8s; 
}

.info-section ul {
  font-size: 1.125rem;
  line-height: 1.5;
  align-content: stretch;
  margin-left: 100px;
}

.facts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 30px;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  
  .home-page h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  .info-section {
    width: 80%;
    margin: 5vh auto;
    padding: 15px;
  }

  .info-section p {
    font-size: 1rem;
  }

  .info-section ul {
    font-size: 1rem;
    margin-left: 20px;
  }

  .facts {
    padding-top: 20px;
  }
}