.coach-detail { 
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.coach-detail img {
    width: 400px;
    height: auto;
    border-radius: 5%;
}

.coach-detail .details {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.coach-detail .details .subtitle {
    color: var(--secondary-color);
    font-size: 1.5rem;
}

.coach-detail .details h1{
    color: var(--primary-color);
}

.coach-detail .details p{
    color: var(--secondary-color-light);
    font-size: 1rem;
    font-family: var(--details-font);
}