.detail-pop {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.detail-pop img {
    width: 30%;
    height: 400px;
    object-fit: cover;
}

.detail-pop .details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    align-items: flex-start;
    gap: 15px;
}

.detail-pop .details p {
    font-size: 1.5rem;
    font-family: var(--details-font);
    color: var(--secondary-color-light);
}

.detail-pop .details h1 {
    align-self: center;
    padding: 10px;
}

.detail-pop .details .value {
    color: var(--primary-color);
    font-family: var(--title-font);
    font-size: 1.5rem;
    margin-left: 20px;
    white-space: pre-wrap;
}

@media (max-width: 768px) {
    .detail-pop {
        flex-direction: column;
        gap: 20px;
    }

    .detail-pop img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .detail-pop .details {
        width: 100%;
        align-items: center;
        margin-bottom: 10px;
    }

    .detail-pop .details .value {
        margin-left: 0;
    }
}