@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
  
.info-section {
  margin: 0 auto;
  padding: 20px 0;

  width: 80%;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.info-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.info-section p {
  font-size: 1.125rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .info-section {
    max-width: 90%;
    margin: 5vh auto;
    padding: 0 10px;
  }

  .info-section h2 {
    font-size: 1.5rem;
  }

  .info-section p {
    font-size: 1rem;
  }
}