/* Import the Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
  
.info-section {
  max-width: 80%;
  margin: 5vh 15vh;
  padding: 0 20px;
  text-align: left;
  font-family: 'Roboto', sans-serif; /* Apply Roboto font */
  color: #fff;
}

.info-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.info-section p {
  font-size: 1.125rem;
  line-height: 1.5;
}