.sports{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 70%;
    justify-self: center;
    padding: 1rem;
}

.sports h1 {
    font-size: 5rem;
}

.sports p {
    font-size: 1.5rem;
    color: var(--secondary-color-light);
    font-family: var(--details-font);
}

.sports .sports-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5rem;
    width: 100%;
}

@media (max-width: 768px) {
    .sports h1 {
        font-size: 2.5rem;
    }

    .sports p {
        font-size: 1rem;
    }
}

.sports button {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: transparent;
    border: 4px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    font-size: 1.5rem;
    font-family: var(--title-font);
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 0;
}

.sports button span {
    position: relative;
    z-index: 1; 
}

.sports button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--primary-color);
    transition: height 0.3s ease;
    z-index: -1;
}

.sports button:hover::after {
    height: 100%;
}

.sports button:hover {
    color: var(--background-color);
}

@media (max-width: 768px) {
    .sports .modal-close {
        font-size: 1.2rem;
        padding: 10px;
    }

    .sports button {
        width: 300px;
        margin: 0 auto;
    }
}